# Shared
PROJECT_NAME=nonware

# Backend
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:3000

POSTGRES_DB=nonware
POSTGRES_USER=nonware
POSTGRES_PASSWORD=nonware
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Web
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000